.menstural{
    background-color: #B97A95;
    color: #F6AE99;
    text-align: center;
    padding-top:2%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
    
}
.phases{
    background-color: #716F81;
    color: #F2E1C1;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
}
.list{
    text-align: left;
}
.abnormal{
    background-color: #B97A95;
    color: #F6AE99;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
}
.usual{
    
    text-align: left;
}
.abnormal1{
    background-color: #716F81;
    color: #B97A95
    ;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
} 
h1{
    font-size: 400%;
    color: #8E2657;
}
h2{
    text-align: center;
    color: #F2E1C1;
}
p{
    text-align: left;
    font-size: xx-large;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    border-color: #716F81 ;
    border-style: solid;
    box-shadow:0px 0px 10px  black;
    
    
}
ul{
    font-size: 20px;
}
li{
    font-size: 20px;
}